
p {
     margin-left: 2rem;
   margin-right: 2rem;
  text-align: left;
  
}
img {
		float:right;
    clear:both;
    max-width: 400;
    margin: 1rem
	}

figcaption {
  position:absolute;
    float:right;
    clear:both;
  margin: 1rem;
}






